:root{
  --darkerblue:#14252d;
  --darkblue: #243a66;
  --lightblue: rgb(105, 170, 214);
  --gray: rgb(119, 119, 119);
  --lightgray: rgb(240, 240, 204);
  --darkgray: rgb(51, 51, 51);
  --cream: hsl(53, 50%, 91%);
  --gold: #c39d63
}

.navbar{
  background-color: var(--darkerblue);
  color: white;
  position: fixed;
  height: 7rem;
  width: 100%;
  display: flex;
  justify-content: space-between;
  z-index: 2;
  padding: 0 4rem;
  top: 0;
  left: 0;
  align-items: center;
  transition: all 0.15s ease-in-out;
}
.navbar-scrolled{
  box-shadow: 0px 2px 8px 2px rgba(0,0,0,0.5);
  -webkit-box-shadow: 0px 2px 8px 2px rgba(0,0,0,0.5);
  -moz-box-shadow: 0px 2px 8px 2px rgba(0,0,0,0.5);
}

.scroll-hide::-webkit-scrollbar{
  display: none;
}

.scroll-custom::-webkit-scrollbar{
  background-color: transparent;
  width: 5px;
  height: 5px;
}
.scroll-custom::-webkit-scrollbar-thumb{
  background-color: var(--cream);
  border-radius: 999px;
}

.scroll-custom-dark::-webkit-scrollbar{
  background-color: var(--darkerblue);
  width: 10px;
}
.scroll-custom-dark::-webkit-scrollbar-thumb{
  background-color: var(--cream);
  border-radius: 999px;
}

.box-keg:nth-child(1){
  grid-row: span 2 / span 2;
  border-radius: 8rem 0;
}
.box-keg:nth-child(2){
  grid-column: span 2 / span 2;
  border-radius: 8rem 0;
}
.box-keg:nth-child(3){
  grid-column: span 2 / span 2;
  border-radius: 0 8rem;
}

@media screen and (max-width: 480px) {
  .navbar{
    padding: 0 1.5rem;
  }

  .box-keg:nth-child(1){
    border-radius: 4rem 0;
  }
  .box-keg:nth-child(2){
    grid-column: span 1 / span 1;
    border-radius: 4rem 0;
  }
  .box-keg:nth-child(3){
    grid-column: span 1 / span 1;
    border-radius: 0rem 4rem;
  }
}